.nav-text {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  text-transform: uppercase;
  flex-direction: column;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 14;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  padding: 0 16px;
  /* border-radius: 4px; */
}

.nav-text a:hover {
  background-color: #b2e4fa;
  color: #707070;
}

.nav-text span {
  margin-left: 3%;
}

.ProfilePicPlacementSideBar {
  display: flex;
  justify-content: center;
}

.SideBarCollapsed {
  background-color: #43c0f6;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  align-items: center;
  justify-content: space-around;
  font-size: 3em;
}

/* .SideBarMainContainerToggle {
  background-color: #b2e4fa;
  border-radius: 20px;
  width: 35%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

.SideBarMainContainer {
  background-color: #43c0f6;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* width: 14%; */
  /* align-items: center; */
  color: white;
  position: relative;
  /* justify-content: flex-end; */
  /* position: fixed; */
  /* left: -100%; */
  transition: 850ms;
  justify-content: space-around;
}

.SideBarMainContainer.active {
  left: 0;
  transition: 350ms;
}

.SideBarTopContent {
  /* background-color: thistle; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin-top: 30px; */
}

.SideBarButton {
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menuArrows {
  color: #f91c84;
  font-size: 3em;
}

.SideBarBottomMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background-color: purple; */
}

.SideBarBottomMenu a {
  font-size: 10;
  color: white;
  text-decoration: none;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.SideBarBottomMenu a:hover {
  /* background-color: #b2e4fa; */
  color: #707070;
}

.SideBarBottomCollapsed {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1em;
}

.SideBarBottomCollapsed a {
  /* font-size: 10; */
  color: white;
  text-decoration: none;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.SideBarBottomCollapsed :hover {
  color: #707070;
}
