.navbar {
  background-color: #43c0f6;
  height: 80px;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #43c0f6;
  width: 250px;
  height: 50%;
  display: inline-block;
  justify-content: center;
  position: fixed;
  /* top: 0; */
  left: -100%;
  transition: 850ms;
}

.nav-menu ul {
  display: inline;
  text-decoration:none;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  text-transform: uppercase;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  /* border-radius: 4px; */
}

.nav-text a:hover {
  background-color: #b2e4fa;
  color: #707070;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #b2e4fa;
  border-radius: 20px;
  width: 35%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
