.main-projectcontainer {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.projectSideBar {
  display: flex;
  flex-direction: column;
  width: auto;
  width: 20%;
}

.projectContent {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-evenly;
}
