.hsec61 {
	padding-top: 50px;
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	padding-bottom: 50px;
}

.sec61 {
	flex: 50%;
	height: 300px;

	text-align: center;
}

.sec62 {
	flex: 50%;
	height: 300px;
	padding-right: 5%;
}

.class1 {
	width: 400px;
	height: 300px;
	border-radius: 20px;
}

.b2 {
	background-color: #f91c85;
	border-color: #f91c85;
	color: white;
}

.b2 a {
	color: white;
	text-decoration: none;
}
