.Form{
    display: flex;
    /* have kept the flex code incase we wanted to change */
    /* display: grid; 
    grid-template-columns: auto auto; */
    justify-content: center;
    color:#A5A5A5;
    text-align: center;
    padding: 5%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.625rem;
    font-weight: bolder;
    font-family: nunito, sans-serif;
}


.FormLinks{
    color: inherit;
    margin: 0px;
    text-decoration: none;
    font-size: 1.5rem;
}

/* these next two are the same apart from the border which is currently on the teacher's left */

.StudentSignUp{
    width: 19rem;
}

.TeacherSignUp{
    width: 19rem;
    border-left: solid silver 0.125rem;

}

/* these next two are the same apart from the border which is currently on the teacher's left */
 .StudentLogIn{
    
    width: 19rem;
    padding: 2%;
    flex-wrap: nowrap;
    
}

.TeacherLogIn{
    
    width:19rem;
    padding: 2%;
    border-left: solid silver 0.125rem;
    flex-wrap: nowrap;
    height: 100%;
    
}

.FormPic{

    height: 200px;
    width: 170px;
    margin-bottom: 10px;
    
}


.UserInput{
    position: relative;
    align-items:center;
    margin-bottom: 20px;
    font-family: nunito, sans-serif;
}

.UserInput input{

    margin:10px;
    border: none;
    border-bottom: solid 1px #A29F9F;
    
    font-style: normal;
    font-weight: 200;
    width: 200px;
    height: 33px;
    
}
 
