.Form{
    display: flex;
    /* have kept the flex code incase we wanted to change */
    /* display: grid; 
    grid-template-columns: auto auto;  */
    justify-content: center;
    color:#A5A5A5;
    text-align: center;
    text-decoration: none;
    font-size: 2.625rem;
    font-family: nunito, sans-serif;
    background-color: white;
}

.FormHeader{

    margin: 10px;
    font-weight: 900;
}

.FormLinks{
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
}

/*for the sign up link on the sign up form*/
.SignUpLinkON{
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
    border: none;
    border-bottom: #F91C85 solid .3rem;
    border-radius: .2rem;
}
/*for the log in link on the log in form*/

.LogInLinkON{
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
    border: none;
    border-bottom: #43C0F6 solid .3rem;
    border-radius: .2rem;
}

.StudentSignUp{
    width: 18rem;
}

.TeacherSignUp{
    width: 18rem;
    border-left: solid silver 0.125rem;
}

/* these next two are the same apart from the border which is currently on the teacher's left */
 .StudentLogIn{
    width: 18rem;
}

.TeacherLogIn{
    width:18rem;
    border-left: solid silver 0.125rem;
}

.FormPic{

    height: 12.5rem;
    width: 12.5rem;
    margin-top: 50px;
}
.UserInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.UserInput input{

    margin: 10px;
    border: solid .02rem #A29F9F;
    border-radius: .2rem;
    font-style: normal;
    width: 10.7rem;
    height: 1rem;
    
}
 
.registerButton{
    background-color:#F91C85;
    border-color:#F91C85;
    color:white;
    width: 6.8rem;
    height: 1.5rem;
    margin: 1.5rem 0;
}