.Form{
    display: flex;
    /* have kept the grid code incase we wanted to change
    /* display: grid; 
    grid-template-columns: auto auto; */
    justify-content: center;
    color:#A5A5A5;
    text-align: center;
    padding: 5%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bolder;
    font-family: nunito, sans-serif;
    
}


.FormLinks{
    color: inherit;
    margin: 10px;
    text-decoration: none;
    font-size: 24px;
    
}

/* these next two are the same apart from the border which is currently on the teacher's left */

.StudentSignUp{
    
    width: 300px;
    padding: 2%;
    flex-wrap: nowrap;
} 

.TeacherSignUp{
    
    width:300px;
    padding: 2%;
    border-left: solid silver 0.25px;
    flex-wrap: nowrap;

}

/* these next two are the same apart from the border which is currently on the teacher's left */
 .StudentLogIn{
    
    width: 300px;
    padding: 2%;
    flex-wrap: nowrap;
    
}

.TeacherLogIn{
    
    width:300px;
    padding: 2%;
    border-left: solid silver 0.25px;
    flex-wrap: nowrap;
    
}

.FormPic{

    height: 200px;
    width: 170px;
    margin-bottom: 10px;
    
}


.UserInput{
    position: relative;
    align-items:center;
    margin-bottom: 20px;
    font-family: nunito, sans-serif;
}

.UserInput input{

    margin:10px;
    border: solid 1px #A29F9F;
    border-radius: 5px;
    font-style: normal;
    font-weight: 200;
    width: 200px;
    height: 33px;
    
}
 
