.profile-main-container {
	background-color: #b2e4fa;
	display: flex;
	flex-direction: row;
	height: 90%;
	width: 100%;
}

/* 1 Single Page App */
.webcontainer {
	height: 100%;
	width: 100%;
	position: fixed;
}

.DashboardContent {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 90%;
}

.DashboardButtonContainer {
	display: flex;
	justify-content: flex-end;
	margin-right: 5%;
}

.profile-maininner-container {
	display: flex;
	flex-direction: column;
	margin-inline: 5%;
	width: 85%;
	border-radius: 20px;
	background-color: #d8f1fc;
	justify-content: space-between;
	height: 95%;
	overflow: auto;
	align-self: center;
}

.grid-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.DashboardFooter {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	height: 5%;
}

.DashboardTopNavigation {
	background: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-inline: 3%;
	height: 5%;
}

.DashboardTopNavFlags {
	display: flex;
	column-gap: 4%;
	color: white;
	font-size: 0.5em;
	font-family: "Open Sans";
	justify-content: flex-end;
}
