.profile-main-container {
  background-color: #b2e4fa;
  display: flex;
  flex-direction: row;
  height: 90%;
  /* width: 100%; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* flex: 1; */
  /* position: absolute; */
}

/* 1 Single Page App */
.webcontainer {
  height: 100%;
  width: 100%;
  position: fixed;
}

.DashboardContent {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
}

.DashboardButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  /* 5% from the right to make it align with the inner container on both 1080p and 2k monitors */

  /* background-color: black; */
  /* top: 0; */
}

.profile-maininner-container {
  display: flex;
  flex-direction: column;
  margin-inline: 5%;
  /* margin-bottom: 3%; */
  width: 95%;
  border-radius: 20px;
  background-color: #d8f1fc;
  justify-content: space-evenly;
  height: 95%;
  overflow: auto;
  /* opacity: 50%; */
  /* align-items: center; */
  /* justify-content: center; */
}

.grid-container {
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
  /* align-items: center; */
  justify-content: space-evenly;
  /* width: 95%; */
}

.Footer2 {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  height: 5%;
  padding: 10px 0 0 0;
}
