.profile-main-container {
  background-color: #b2e4fa;
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* flex: 1; */
  /* position: absolute; */
}

.DashboardContent {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.DashboardButtonContainer {
  display: flex;
justify-content: flex-end;
margin-right: 5%; /* 5% from the right to make it align with the inner container on both 1080p and 2k monitors */

  /* background-color: black; */
  /* top: 0; */
}

.profile-maininner-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 95%;
  border-radius: 20px;

  background-color: #d8f1fc;
  /* opacity: 50%; */
  /* align-items: center; */
  /* justify-content: center; */
}

.grid-container {
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.SideBarContainer {
  background-color: #43c0f6;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  color: white;
  font-size: 14;
  /* position: relative; */
  /* justify-content: flex-end; */
}

.sideBarInnerContainerFooter {
  display: flex;
  flex-direction: column;
}

.SideBarBottomMenu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
