.moreprojectsbutton {
  width: 200px;
  height: 35px;
  color: white;
  font-size: 16;
  text-align: center;
  background-color: #43c0f6;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: 0;
  cursor: pointer;
}
