.DashboardTopNavigation {
	background: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-inline: 3%;
	height: 5%;
}

.DashboardTopNavFlags {
	display: flex;
	column-gap: 10%;
}
