.dashTopNav{
    background: white;
    display:flex;
    margin-left:3%;
    margin-right:3%;        

}
  
.dashTopLogo{
    flex: 20%;
}

.topButtons{   
    flex: 75%;
    text-align: right;
    color: Black;
    padding-top: 15px;

}

.dashTopFlag{
    flex: 5%;
    text-align:right;

}

.btTake{
    background-color: #E5AB2C;
    color: white;
    width: 200px;
    height: 36px;
    margin-bottom: 0px;
    border:none;
}

.btHelp{
    background-color: #F91C85;
    color: white;
    width: 200px;
    height: 36px;
    margin-bottom: 0px;
    border:none;
}

.btMore{
    background-color: #43C0F6;
    color: white;
    width: 200px;
    height: 36px;
    margin-bottom: 0px;
    border:none;
}