.dashTopNav{
    background: white;
    display:flex;
    align-items: center;
    margin-inline: 3%;
}
  
.dashTopLogo{
    
    flex: 20%;
}

.topButtons{   
    flex: 70%;
    text-align: right;
    color: Black;
    
}

.dashTopFlag{
    flex: 5%;
    text-align:right;

}

.btTake{
    background-color: #E5AB2C;
    color: white;
    width: 200px;
    height: 36px;
}

.btHelp{
    background-color: #F91C85;
    color: white;
    width: 200px;
    height: 36px;
}

.btMore{
    background-color: #43C0F6;
    color: white;
    width: 200px;
    height: 36px;
}