.layicon{
    text-decoration: none;
    background-color: #43C0F6;
    text-align: center;
    padding:7px;
}

.layicon:hover{
    background-color: #B2E4FA;
    text-align: center;
    padding:7px;
}