.learning {
    background-color:white;
}

.bkObj{
    background-color:green;
}

.mainbk1{
    background-color:green;
}

.mainL{
    background-color: #B2E4FA;
}

.arrowclose {
   
    
    text-align: right;
    padding: 5px;

}

.arrowopen {
    text-align: left;
}

.test {
    background-color: #B2E4FA;
}