.mainL{
    background-color: #43C0F6;
    width:100px;
    height:864px;
}


.leftnavbody {
    text-align: center;
    
}

.arrowopen1 {
    text-align: left;
    padding-top:230px;
    

}

li{
    list-style-type:none;
}

.bottomicon{
    position: absolute;
    padding-left:33px;
    bottom:70px;
    
}