.divt11 {
  background-color: #B2E4FA;
  text-align: left;
}

.divt21 {
  display: flex;
  padding: 50px;
  
}

.divt3 {
  background-color: #d5f0fc;
  width: 100%;
  height:auto;
  border-radius: 20px;
  
  



  
}

.divt41{
  height: 60px;
  column-count: 2;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}





.divt5 {
  border-radius: 7px;  
}


.mp1 {
  margin:0px;
  padding-left:20px;
  
}
.mp2 {
  margin:0px;
  padding-left:20px;
  font-size:10px;
}

.col2 {
  column-count:2;
  padding: 20px;
}

.c1{
  text-align: left;
  margin-top:0px;
  margin-bottom:0px;
  padding-bottom:30px;
}

.c2{
  text-align: right;
  margin-top:0px;
  margin-bottom:0px;
  padding-bottom:30px;
}
