.sec21{
    width:80%;
    text-align:flex-start;
    padding-left:15%;
  
  }



  .row1 {
    
    padding-top:20px;
    
  }


  
  .psec1{
    font-size:15px;
    color:#282c34;
  }

  .sec22{
    width:50%;
  }

  .sec23{
    width:40%;

  }

  .pxt{
    margin:10px;
    width:20%;
  }

  .project1{
    margin:30px;
    
  }

 








  