.hsec61{
    padding-top:50px;
    padding-left:20%;
    padding-right:20%;
    display: flex;
  }

.sec61{
    flex: 50%;
    height: 300px;
    
    text-align: center;
  }

.sec62{
  flex: 50%;
  height: 300px;
  padding-right:5%;
  
}


.class1{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    
}

.b2 {
    background-color:#F91C85;
    border-color:#F91C85;
    color:white;
  }

 


