.sec21{
  padding-bottom:50px;
  padding-top:50px;
  padding-left:15%;
  padding-right:15%;
  display: flex;

  }

  .sec22{
    flex: 50%;
    height: 300px;
  }

  
  .psec1{
    font-size:15px;
    color:#282c34;
  }

  

  .sec23{
    width:40%;

  }

  .pxt{
    margin:10px;
    width:20%;
  }

  .project1{
    margin:30px;
    
  }

 








  