.navbutton{
  display: inline;
    text-decoration:none;
    margin:0px;
    padding:0px;
    border:0px;
    color:white;
    background-color: inherit;
    font-family: inherit;
    font-size: 14px;
  }