.topNav{
    background: #43C0F6;
    display:flex;
    justify-content:center;
    background-size:100%;
    object-fit:cover;
    width:100%;
    display: flex;
  }

  .topLogo{
    flex: 20%;    
    text-align: center;
  }

  .topNavLinks{
    flex: 40%;
    justify-content: center;
    display:flex;  
  }

  .topNavUser{
    flex: 20%;
    align-content: center;
    display:flex;
  }




  ul{
    list-style-type: none;
    display: flex;
  

  }
  .a1{
    text-decoration:none;
    margin:10px;
    color:white;
  }





  .topNavLogin{
    font-size:15px;
    padding-top: 5px;
  }

  .topFlagLang{  
    font-size:10px;
    padding:0px;
    margin:0px;
   
    align-content: flex-end;
    display:flex;
  
  }