
/* Profile picture and details on left hand side */
.main-profile-left {
  background-color: white;
  width: 361px;
  height: 575px;
  /* margin-left: 50; */
  align-items: center;
  justify-content: center;
  /* padding: 2%; */
  border: solid 2px #e2dfdf;
  border-radius: 20px;
  position: absolute;
}

/* Profile Pic inside main profile left */
.profile-pic{
width: 175px;
height: 175px;
border-radius: 50%;
margin: 50px 0px 0px
/* align-items: center; */
}

.profile-buttons{
    margin-top: 50px;
}

.profile-container button{
    border-radius: 10px;
    border: solid 2px #43C0F6;
    width: 175px;
    height: 35px;
    text-transform: uppercase;
    margin-top: 25px;
    background-color: white;
    font-size: 16px;
    color: #43C0F6;
    z-index: 1;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}


/* The main page that holds the profile containers */
.profile-background {
  display: flex;
  background-color: #eeeeee;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex: 1;
}

/* Profile details inside the container for the right hand side */
.main-profile-details {
  background-color: white;
  width: 800px;
  height: 712px;
  margin-left: 430px;
  align-items: center;
  justify-content: center;
  /* padding: 2%; */
  border: solid 2px #e2dfdf;
  border-radius: 20px;
}

/* The main container to hold both main profile left and right containers */
.profile-container {
  display: flex;
  margin: 40px;
  padding: 50px;
  /* align-items: center; */
}

.profile-container h1{
    font-size: 60px;
}

.orange-box{
  height: 80px;
  background-color: orange;
  display: flex;
}

.green-box{
  height: 60px;
  width: 50%;
  /* margin-top: 40px; */
  background-color: green;
  font-size: 30px;
  border: solid 5px black;
  text-align: left;
}


/* .profile-list{
display: inline-block;
color: #A5A5A5;
font-size: 30px;
font-weight: bold;
text-align: left;
line-height: 1.5;
width: 30%;

}

.profile-col{
    background-color: black;
    width: 30%;
    padding: 1%;
    border: solid 2px #e2dfdf;
    border-radius: 20px;
    display: flex;
    }

    .profile-row{
        display: flex;
        
    } */

    

