.main-profile-left {
  background-color: white;
  width: 361px;
  height: 575px;
  /* margin-left: 50; */
  align-items: center;
  justify-content: center;
  /* padding: 2%; */
  border: solid 2px #e2dfdf;
  border-radius: 20px;
  position: absolute;
}

.profile-pic{
width: 50px;
height: 50px;
border-radius: 50px;
}

.profile-background {
  display: flex;
  background-color: #eeeeee;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex: 1;
}

.main-profile-details {
  background-color: white;
  width: 800px;
  height: 712px;
  margin-left: 430px;
  align-items: center;
  justify-content: center;
  /* padding: 2%; */
  border: solid 2px #e2dfdf;
  border-radius: 20px;
}

.profile-container {
  display: flex;
  margin: 40px;
  padding: 50px;
  align-items: center;
}

.profile-container h1{
    font-size: 60px;
}
