.MainPage{
    display: grid;
    grid-template-areas: 
    'sidebar header header header header header'
    'sidebar gallery gallery gallery gallery gallery'
    'sidebar gallery gallery gallery gallery gallery' ;
}


.ProjectContainer{
    margin-top: 100px;
    grid-area: header;
    /* border: 1px solid;
    background-color: lightcoral; */
}

.ProjectLibText{
    margin-left: 45px;
    
}

 .ProjectGallery{
     /* border: 1px solid;
     background-color: lawngreen; */
     display: grid;
     grid-template-columns: auto auto auto;
     margin: 20px;
     padding: 10px;
     text-align: center;
     grid-area: gallery;
 }

 .ProjectGallery img{
    
    height: 180px;
    width: 260px;
    margin: 10px;
    padding: 20px;
    /* border: 1px solid;
    background-color: red; */
    
}

.ProjectSideBar{
    
    grid-area: sidebar;
    display: block;
    background-color: lightsteelblue;
    
    
}
 
.TableHeader{
    background-color: lime;
    margin: 100px;
    padding: 0px;
    grid-template-areas: auto;
    
}

.ProjectSideBar th{
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-top:50px;
}

label{
    margin: 20px;
}

difficultyButton{
    float: left;
    margin: 0px;
    padding: 0px;
}