.MainPage{
    width: 100%;
}

.ProjectContainer{
    margin-left: 300px;
    margin-top: 50px;
    margin-right: 100px;
    display: grid;
    width: 75%;
    /* border: 1px solid;
    background-color: lightcoral; */
} 

.ProjectLibText{
    margin-left: 45px;
    
}

 .ProjectGallery{
     border: 1px solid;
     background-color: lawngreen;
     display: grid;
     grid-template-columns: auto auto auto;
     padding: 10px;
     text-align: center;
 }

 .ProjectGallery img{
    
    height: 200px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    /* border: 1px solid;
    background-color: red; */
    
}

  .ProjectSideBar{
    width: 25%;
    top: 0;
    left: 0;
    padding: 20px;
    margin: 100px;
    position: fixed;
    } 

.ProjectSideBar ul{
    background-color: skyblue;
    margin: 0px;
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-size: 18px;
    text-decoration: underline 1px grey;
    border: 1px solid;
}

.ListHeader{
    margin-bottom: 20px;
    text-decoration: none;
}
 
