.teacherpro-web{
  width:100%;
}




  .teacherbody{
    background-color:#B2E4FA ;
  }





  .leftnav{
    width:100%;
    text-align:center;
    padding-top:50px;
    padding-bottom: 20px;
  }

  .teacherprofile{
    border-radius:100%;
    
  }

  .listbk{
    background-color:#B2E4FA;
    padding-top:5px;
    padding-bottom:5px;
  }

  .a2{ 
  font-size: 13px;
  text-decoration: none;
    
  }

  .a2:hover{
    text-decoration:none;
    
  }

.left-side{
  width:15%;
  height:600px;
  background-color:#43C0F6;
  position: absolute;}


.rightSide-Body{
  
  height:600px;
  background-color:#B2E4FA;
  display: flex;
  padding-left:20%;
}


















