.topNav2{
    background: white;
    display:flex;
    justify-content:center;
    background-size:100%;
    object-fit:cover;
    width:100%;
    display: flex;
  }

  .topLogo2{
    flex: 90%;
    padding-left:5%;    
    text-align: left;
  }

  .topFlagLang2{  
    flex: 10%;    
  }