.topNav {
	background: #43c0f6;
	display: flex;
	justify-content: center;
	background-size: 100%;
	object-fit: cover;
	width: 100%;
	display: flex;
}

.topLogo {
	flex: 20%;
	text-align: center;
}

.topNavLinks {
	flex: 60%;
	justify-content: center;
	display: flex;
}

.topNavUser {
	flex: 20%;
	align-content: flex-end;
}

.ul {
	list-style-type: none;
	display: flex;
	text-decoration: none;
}
.a1 {
	text-decoration: none;
	margin: 10px;
	color: white;
}

.a2 {
	text-decoration: none;
	color: white;
}

.leftsidenav {
	text-align: right;
}

.topFlagLang {
	font-size: 10px;
}

.topNavLogin {
	height: inherit;
	width: inherit;
	display: flex;
	/* this was added so the modal links would go next to each other */
}

.p1 {
	padding-top: 5px;
	margin: 0px;
	text-align: left;
	color: white;
}
.lang1 {
	margin: 0px;
	padding-top: 10px;
	color: white;
}
