.MainPage {
	margin: 0px;
	padding: 0px;
	display: grid;
	grid-template-areas:
	"sidebar header header header"
	"sidebar gallery gallery gallery"
	"sidebar gallery gallery gallery";
	/*gives the 3x3 in the gallery grid when using flex wrap*/
	color: #767676;
}

.ProjectContainer {
	margin-top: 3.125px;
	grid-area: header;
	font-style: strong;
}

.ProjectLibText {

margin-left: 45px;

}

.ProjectGallery {
	display: flex;
	flex-wrap: wrap;
	/* margin: 50px 10px;
	padding: 10px; */
	justify-content: space-evenly;
	text-align: center;
	grid-area: gallery;


}

.ProjectGallery img{
	height: 180px;
	width: 260px;
}



.StudentLibButtonContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*puts one set of buttons on either side*/
	justify-content: space-between;
	margin-right: 5%;
	margin-block: 1%;
}

.ProjectSideBar {
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	text-align: left;
	font-family: 'Open Sans';
}

.TableHeader {

	margin: 10px;
	border-bottom: 1px solid #767676;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 900;

}

