.sec3{
    width:80%;
    text-align:center;
    padding-left:10%;
  }

  
.bar{
    display:flex;
    justify-content:center;
    width:100%;
  }

  .a11{
    
    text-decoration:none;
    margin:40px;
    border:solid;
    color:#707070;
    border-color:#43C0F6;
    border-radius: 5px;
    
    font-weight: bold;
    border-width: 3px;
  }

  .a12{
    
    text-decoration:none;
    margin:40px;
    border:solid;
    color:#707070;
    border-color:#EFEFF1;
    background-color:#EFEFF1;
    border-radius: 5px;
    border-width:3px;
    font-weight: bold;
  }