.sec21{
    width:100%;
  }

  .psec1{
    font-size:15px;
    color:#282c34;
  }

  .sec22{
    width:65%;
    
  }

  .sec23{
    width:35%;
    padding-left:200px;
  }

  .pxt{
    margin:10px;
    width:20%;
  }

  .project1{
    margin:10px;
    width:50%;
  }